.color1 {
  width: 43px;
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
}
.red {
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
}
.tab {
  align-self: stretch;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 6px rgba(176, 176, 176, 0.37));
  border-radius: var(--br-lgi);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-8xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-tomato);
}
.color {
  width: 85.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
}
.material {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.tab1 {
  width: 99px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 6px rgba(176, 176, 176, 0.37));
  border-radius: var(--br-lgi);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xl);
}
.tab2 {
  width: 204px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 6px rgba(176, 176, 176, 0.37));
  border-radius: var(--br-lgi);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-2xs);
}
.selection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
  font-size: var(--font-size-mid);
}
.materil {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.txtNIconChild {
  width: 20.4px;
  position: relative;
  height: 11.1px;
}
.txtNIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.selected {
  width: 85.2px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 1px 6px rgba(176, 176, 176, 0.37));
  border-radius: var(--br-lgi);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-4xs);
}
.small {
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  z-index: 0;
}
.sChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.s {
  width: 44px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-12xs) var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.medium {
  width: 61px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  z-index: 0;
}
.m {
  width: 60px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-12xs) var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.large {
  width: 43px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  z-index: 0;
}
.l {
  width: 46px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-12xs) var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.xLarge {
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 0px;
  line-height: 16px;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  z-index: 0;
}
.siz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
  color: var(--color-darkgray-200);
}
.sizes {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xs);
  font-size: var(--font-size-mid);
}
.sizeCart {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.circleChild {
  width: 13.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-yellowgreen);
  height: 13.3px;
}
.circle {
  width: 25.5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 1px 6px rgba(176, 176, 176, 0.37);
  border-radius: var(--br-smi-8);
  background-color: var(--color-white);
  height: 25.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs);
  box-sizing: border-box;
}
.stock {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.descrption {
  position: absolute;
  top: 757px;
  left: 39px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-nunito);
}
