.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-48xl);
}
.footer {
  position: absolute;
  width: 100%;
  top: 2034px;
  right: 1px;
  left: -1px;
  background-color: var(--color-whitesmoke);
  height: 726px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-plum);
  font-family: var(--font-goldman);
}
