.nftClogetlogo2 {
  width: 23px;
  position: relative;
  height: 29px;
  object-fit: cover;
}
.span {
  color: var(--color-lightskyblue);
}
.closet {
  color: var(--color-turquoise);
}
.nftCloset {
  position: relative;
  text-transform: capitalize;
}
.logo {
  width: 207px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.searchSvgrepocomIcon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
}
.hamburgerMenuSvgrepocomIcon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 35px;
}
.icons {
  width: 86px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navBar {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  backdrop-filter: blur(20px);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.79)
  );
  border-bottom: 1px solid var(--color-darkgray-300);
  box-sizing: border-box;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-mini);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-plum);
  font-family: var(--font-goldman);
}
